@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.Home {
  line-height: 0;
  font-size: 0;
}

.HomeBG {
  object-fit: cover;
  max-height: 35rem;
  height: 70%;
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.IsMuted {
  position: absolute;
  right: 1%;
  top: 4rem;
  font-size: clamp(2rem, 5vw, 4rem);
  z-index: 5;
}

.IsMuted:hover {
  cursor: pointer;
}

.SpeechBubble {
  position: absolute;
  top: 6rem;
  left: 5%;
  z-index: 5;
  width: 47%;
  max-height: 34rem;
  line-height: normal;
  text-align: center;
  color: #e5e5e5ff;
  text-shadow: #a4a4a4ff 1px 0 10px;
  background-color: rgba(44, 96, 240, 0.75);
  box-shadow: #a4a4a4ff 0 0 1vh;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.HeadingSB {
  font-family: "Oxanium", serif;
  font-weight: 800;
  font-size: clamp(0.5rem, 5vw, 3rem);
}
.NormalSB {
  font-family: "Roboto", serif;
  font-size: clamp(0.3em, 3vw, 1.8rem);
  font-weight: 500;
  text-shadow: #a4a4a400 0px 0 0px;
}

.NewsCaster {
  position: absolute;
  right: 10%;
  top: clamp(10.5rem, 29vw, 18rem);
  height: auto;
  width: clamp(1rem, 10%, 7rem);
  z-index: 0;
}

.Papers {
  position: absolute;
  right: 16%;
  top: clamp(14rem, 42vw, 27rem);
  height: auto;
  width: clamp(2rem, 8%, 4.5rem);
  z-index: 1;
}

.Desk {
  position: absolute;
  right: 0;
  top: clamp(14.5rem, 45vw, 28rem);
  height: auto;
  width: clamp(14rem, 40%, 30rem);
  z-index: 2;
}

.HomeGrad {
  width: 96%;
  height: 15rem;
  padding: 4rem 2%;
  padding-top: .5rem;
  margin: 0;
  background: rgb(149, 146, 132);
  background: linear-gradient(
    0deg,
    rgba(149, 146, 132, 0) 0%,
    rgba(149, 146, 132, 1) 100%
  );
  margin-top: -5px;
  display: flex;
  flex-direction: column;
}

.Contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Socials {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  margin: 1rem;
}

.Icon {
  max-height: 5vh;
  margin: 0 .5rem;
}

.Icon:hover {
  cursor: pointer;
  animation: bounce 1s ease-in-out infinite;
}

.ResumeDownload {
  width: fit-content;
  height: 7.5vh;
  background-color: #d71226ff;
  border-radius: 0.5rem;
  z-index: 5;
  line-height: normal;
  font-size: 2vh;
  color: #e5e5e5ff;
  align-self: center;
  text-align: center;
  padding: 0 5%;
  padding-top: clamp(0.5rem, 1%, 1.2rem);
}

.ResumeDownload:hover {
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}

.Disclaimer {
  line-height: normal;
  font-size: 1.45vh;
  font-family: "Oxanium", serif;
  font-weight: 100;
  color: #0d0d0eff;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

.breathing {
  animation-name: breathing;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes breathing {
  0% {
    transform: translate(0);
  }

  30% {
    transform: translateY(-1%);
  }

  60% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(0%);
  }
}

.stacking {
  animation-name: stacking;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes stacking {
  0% {
    transform: translate(0);
  }

  4% {
    transform: translateY(-20%);
    transform: rotateY(45deg);
  }

  6% {
    transform: translateY(0%);
  }

  10% {
    transform: translateY(-20%);
  }

  12% {
    transform: translateY(0%);
  }

  16% {
    transform: translateY(-20%);
  }

  18% {
    transform: translateY(0%);
  }

  20% {
    transform: translateY(0%);
  }

  30% {
    transform: translateY(-3%);
  }

  40% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-3%);
  }

  70% {
    transform: translateY(0%);
  }

  90% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0%);
  }
}

.typing1 {
  overflow: hidden;
  border-right: 0.15em solid rgba(255, 166, 0, 0);
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 1.5s steps(15, end);
}

.typing2 {
  overflow: hidden;
  border-right: 0.15em solid rgba(255, 166, 0, 0);
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 2.5s steps(25, end);
}

.typing3 {
  overflow: hidden;
  border-right: 0.15em solid rgba(255, 166, 0, 0);
  white-space: nowrap;
  margin: 0 auto;
  margin-top: 0.5rem;
  animation: typing 2s steps(20, end);
}

.typing4 {
  overflow: hidden;
  border-right: 0.15em solid rgba(255, 166, 0, 0);
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 2s steps(20, end);
}

.typing5 {
  overflow: hidden;
  border-right: 0.15em solid rgba(255, 166, 0, 0);
  white-space: nowrap;
  margin: 0.5rem auto;
  animation: typing 3.5s steps(35, end);
}

.typing6 {
  overflow: hidden;
  border-right: 0.15em solid rgba(255, 166, 0, 0);
  white-space: nowrap;
  margin: 0.5rem auto;
  animation: typing 2s steps(20, end);
}

.typing7 {
  overflow: hidden;
  border-right: 0.15em solid rgba(255, 166, 0, 0);
  white-space: nowrap;
  margin: 0.5rem auto;
  animation: typing 3s steps(30, end);
}

.typing8 {
  overflow: hidden;
  border-right: 0.15em solid rgba(255, 166, 0, 0);
  white-space: nowrap;
  margin: 0.5rem auto;
  animation: typing 2.5s steps(25, end);
}

.typing9 {
  overflow: hidden;
  border-right: 0.15em solid rgba(255, 166, 0, 0);
  white-space: nowrap;
  margin: 0.5rem auto;
  animation: typing 2.5s steps(25, end);
}

.typing10 {
  overflow: hidden;
  border-right: 0.15em solid rgba(255, 166, 0, 0);
  white-space: nowrap;
  margin: 0.5rem auto;
  animation: typing 3s steps(30, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
